Question 1 : What are data structures, and why are they important?

solution: Data structures are ways to organize and store data in a computer so that it can be accessed and modified efficiently. They are essential because they help us manage large amounts of data while performing operations quickly. Different data structures (like lists, tuples, dictionaries, and sets) have different efficiency in terms of memory usage and performance depending on the operations we need to perform like searching, inserting, or deleting data. Choosing the right data structure is critical for optimizing the performance of an application.

Question 2 : Explain the difference between mutable and immutable data types with examples.

solution :**Mutable** data types are those that can be changed or modified after they are created. For example, lists and dictionaries are mutable. You can add, remove, or change their elements.

**Immutable** data types, on the other hand, cannot be changed once they are created. Examples include strings and tuples. If you try to change an immutable data type, you will create a new instance instead.

In [ ]:
list = [1,2,3,4]  # this is a example of mutable data which we can make changes
list[2] =5
print(list)

[1, 2, 5, 4]

Question 3 :What are the main differences between lists and tuples in Python ?

solution :

**Mutability**: Lists are mutable, meaning you can change their elements after creation (add, remove or modify). Tuples are immutable; once you create a tuple, you cannot change its elements.

**Syntax**: Lists are defined using square brackets `[]`, while tuples are defined using parentheses `()`.

**Performance**: Tuples can be slightly faster than lists and use less memory because of their immutability.

**Use Case**: Use lists for collections of items that may change, and tuples for fixed collections of items that should not change.

Question 4 : Describe how dictionaries store data.?

solution: Dictionaries in Python store data in key-value pairs. Each key is unique, and it maps to a specific value.Dictionaries are implemented using hash tables, allowing for fast access to values when you know the key. This makes them highly efficient for lookup operations.

In [ ]:
# example of dict format
my_dict =  {'name': 'krishna' , 'age': 24}
type (my_dict)

dict

Question : 5 Why might you use a set instead of a list in Python?

solution: You might use a set instead of a list when you want to make sure that all elements are unique since sets automatically eliminate duplicate entries. Sets also provide efficient operations for membership tests and mathematical set operations (like unions and intersections).

In [ ]:
# for example # set is unique collection it will never repeat its iteam
a = {1,2,4,4,5,6,7,8,8,"bob", "bob"}
print(a)

{1, 2, 4, 5, 6, 7, 8, 'bob'}

Question 6 : What is a string in Python, and how is it different from a list?

solution : A string in Python is a sequence of characters used to store textual data. It is an immutable data type, meaning once you create a string, you cannot change its contents directly.

The main differences between strings and lists are:



*   **Data Type:** Strings are specifically for text while lists can hold multiple items of varying data types including numbers, strings, or even other lists.
*   **Mutability**: Strings are immutable, whereas lists are mutable. Thus you can modify lists but not strings.

Question 7: How do tuples ensure data integrity in Python?

solution : Tuples ensure data integrity by being immutable, which means that once a tuple is created, its contents can’t be modified. This immutability prevents accidental changes to the data, making tuples a good choice for representing fixed collections of items where data integrity and consistency are important.

Question 8: What is a hash table, and how does it relate to dictionaries in Python?

solution : A hash table is a data structure that implements an associative array, allowing you to associate keys with values. Python’s dictionaries are essentially implemented as hash tables. When you add items to a dictionary, Python computes a hash code for each key to determine where to store the corresponding value. This allows for highly efficient access times for lookups, insertions, and deletions.

Question 9: Can lists contain different data types in Python?

solution : Yes, lists in Python can contain elements of different data types. For instance, you can have a list that includes integers, strings, and even another list

for example

In [ ]:
my_list = [1,3,5,[1,4,5],"sting",7+8j,4.5] # a list can contain different number of elemets like string, float, bool,etc
type(my_list)

list

Question 10 : Explain why strings are immutable in Python.

solution : Strings are immutable in Python for several reasons:

**Performance**: Immutable strings can be more memory-efficient and allow Python to optimize memory usage.

**Security**: Immutability helps prevent accidental changes to important string data, maintaining data integrity.

**Hashing**: Strings can be used as keys in dictionaries because their value doesn't change—this increases the reliability of hash-based structures.

Question 11: What advantages do dictionaries offer over lists for certain tasks?

solutions: Dictionaries offer several advantages over lists, particularly in tasks requiring fast access to data:

**Fast Access:** You can access values by their keys in constant time on average (O(1)).

**Key-Value Pairs:** You can store relationships between two pieces of data more naturally, making data retrieval intuitive.

**Flexible Structure:** Keys can be any immutable type, allowing for more complexity in data storage.

Question: Describe a scenario where using a tuple would be preferable over a list.

solution : Using a tuple would be preferable in a scenario where you want to return multiple values from a function without allowing modifications.

In [ ]:
# for example :
def get_coordinates():
    return (10, 20)  # Using a tuple to return fixed coordinates

coords = get_coordinates()

In [ ]:
coords

(10, 20)

Question :How do sets handle duplicate values in Python?

solution :Sets automatically remove duplicate values. When you create a set, if you attempt to add an element that already exists, the set will ignore it. For example:

In [ ]:
set = {1,2,3,3,3,3,3,4,4,4,5,5,5,7,8,"anjali","anjali"}
print(set)

{1, 2, 3, 4, 5, 7, 8, 'anjali'}

Question: How does the “in” keyword work differently for lists and dictionaries?

solution: The `in` keyword checks for the presence of an element in both lists and dictionaries but does so differently:



*   `In` a **list**, in checks if the element is present within the list elements.
*   In a **dictionary**, `in` checks if a specified key exists in the dictionary.

In [ ]:
my_list = [1, 2, 3]
print(2 in my_list)

my_dict = {'a': 1, 'b': 2}
print('a' in my_dict)

True
True

Question: Can you modify the elements of a tuple? Explain why or why not.

solution : No, you cannot modify elements of a tuple because tuples are immutable. When you try to change a tuple's content, it will raise a `TypeError`. This immutability is by design to ensure data integrity and consistency throughout the program.

What is a nested dictionary, and give an example of its use case?

solution : A nested dictionary is a dictionary where the values can themselves be dictionaries. This can be useful for storing structured data. for example :

In [ ]:
students = {"Aman": {"Math": 90, "Science": 85},"Bijay": {"Math": 88, "Science": 92},"yogesh": {"Math":78, "Science": 66}}
print(students)

{'Aman': {'Math': 90, 'Science': 85}, 'Bijay': {'Math': 88, 'Science': 92}, 'yogesh': {'Math': 78, 'Science': 66}}

Question :Describe the time complexity of accessing elements in a dictionary.

solution : The time complexity for accessing elements in a dictionary is O(1) on average, which means it takes constant time to access a value using its key. This is due to the underlying hash table implementation that allows quick lookups. However, in rare scenarios (like many hash collisions), it could degrade to O(n), but this is generally unlikely with a good hash function.

Question : In what situations are lists preferred over dictionaries?

solution : Lists are preferred over dictionaries when:

**Order Matters:** If the order of items is significant, use a list since dictionaries are unordered.

**Sequential Access:** Lists are better for storing simple collections of items where you access elements by their position (like iterating through items).

**Simplicity:** If you only need to keep track of simple data without needing key-value pairs, lists are straightforward and efficient.

Question : Why are dictionaries considered unordered, and how does that affect data retrieval?

solution : Dictionaries are considered unordered because they do not maintain any particular order for their key-value pairs. This means that when you iterate over a dictionary, you may not get the items back in the order you inserted them.

For data retrieval, this means you should retrieve values using their keys rather than relying on their position or order, which can be advantageous for fast lookups but might be a drawback when order matters.

Question : Explain the difference between a list and a dictionary in terms of data retrieval.

solution : In a list, you retrieve elements by their index, which is their position in the collection. For example, `my_list[0] `retrieves the first element.

In a dictionary, you retrieve elements by their key. For example, `my_dict["name"]` retrieves the value associated with the key "name."

This key-based retrieval makes dictionaries especially useful for cases where you need quick access to data based on unique identifiers.

**PRATICAL QUESRION:**

Question : 1 Write a code to create a string with your name and print it.

solution :

In [1]:
my_name = "Sumit bhatt"
print(my_name)

Sumit bhatt

Question : Write a code to find the length of the string "Hello World".?

solution :

In [3]:
name = "Hello world"
print(len(name))

11

Question : Write a code to slice the first 3 characters from the string "Python Programming".?

solution:

In [7]:
python_string = "Python Programming"
sliced_string = python_string[:3]
print(sliced_string)

Pyt

Question: Write a code to convert the string "hello" to uppercase. ?

solution :

In [6]:
lowercase_string = "hello"
uppercase_string = lowercase_string.upper()
print(uppercase_string)

HELLO

Qustion : Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [8]:
string = "I like apple"
new_string = string.replace("apple","orange")
print(new_string)

I like orange

Question: Write a code to create a list with numbers 1 to 5 and print it.

solution :

In [10]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

Question : Write a code to append the number 10 to the list [1, 2, 3, 4].

solution:

In [11]:
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

Question: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

solution :

In [12]:
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

Question: Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

solution :

In [13]:
char_list = ['a', 'b', 'c', 'd']
second_element = char_list[1]
print(second_element)

b

Question : Write a code to reverse the list [10, 20, 30, 40, 50].

solution :

In [15]:
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

Question : Write a code to create a tuple with the elements 100, 200, 300 and print it.

solution :

In [16]:
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

Question: Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

solution:

In [17]:
color_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = color_tuple[-2]
print(second_to_last)

blue

Qustion: Write a code to find the minimum number in the tuple (10, 20, 5, 15).

solution :

In [18]:
number_tuple = (10, 20, 5, 15)
minimum_number = min(number_tuple)
print(minimum_number)

5

Question: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

solution :

In [19]:
animal_tuple = ('dog', 'cat', 'rabbit')
cat_index = animal_tuple.index('cat')
print(cat_index)

1

Question: Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

solution:

In [20]:
fruits_tuple = ('apple', 'banana', 'cherry')
is_kiwi_present = 'kiwi' in fruits_tuple
print(is_kiwi_present)

False

Question: Write a code to create a set with the elements 'a', 'b', 'c' and print it.

solution :

In [21]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

Question : Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

solution :

In [23]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

Question: Write a code to remove the element 4 from the set {1, 2, 3, 4}.

solution:

In [24]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

Question: Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

solution :

In [25]:
a = {1, 2, 3}
b = {3, 4, 5}
union_set = a | b
print(union_set)

{1, 2, 3, 4, 5}

Question: Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

solution:

In [26]:
intersection_set = a & b
print(intersection_set)

{3}

Question: Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

solution

In [28]:
my_dict = {"name": "krishna", "age": 20, "city": "delhi"}
print(my_dict)

{'name': 'krishna', 'age': 20, 'city': 'delhi'}

Question : Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

solution:

In [29]:
dict = {'name': 'John', 'age': 25}
dict["country"] = "USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

Question: Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

solution.

In [30]:
dict = {'name': 'Alice', 'age': 30}
name_value = dict['name']
print(name_value)

Alice

Question: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

solution:

In [31]:
dict= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dict['age']
print(dict)

{'name': 'Bob', 'city': 'New York'}

Question: Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

solution:

In [32]:
dict = {'name': 'Alice', 'city': 'Paris'}
is_city_present = 'city' in dict
print(is_city_present)

True

Question : Write a code to create a list, a tuple, and a dictionary, and print them all.

solution:

In [33]:
mixed_list = [1, 2, 3]
mixed_tuple = (4, 5, 6)
mixed_dict = {'key1': 'value1', 'key2': 'value2'}
print(mixed_list, mixed_tuple, mixed_dict)

[1, 2, 3] (4, 5, 6) {'key1': 'value1', 'key2': 'value2'}

Question: Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

solution :

In [34]:
import random
random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print(random_numbers)

[16, 22, 56, 60, 89]

Question : Write a code to create a list with strings and print the element at the third index.

solution:

In [35]:
list = ["apple", "banana", "cherry", "date", "elderberry"]
element_at_third_index = list[3]
print(element_at_third_index)

date

Question: Write a code to combine two dictionaries into one and print the result.

solution:

In [36]:
a= {'a': 1, 'b': 2}
b = {'b': 3, 'c': 4}
combined_dict = {**a, **b}
print(combined_dict)

{'a': 1, 'b': 3, 'c': 4}

Question : Write a code to convert a list of strings into a set.?

solution :

In [37]:
string_list_for_set = ["apple", "banana", "apple", "orange"]
string_set = set(string_list_for_set)
print(string_set)

{'apple', 'orange', 'banana'}